.navbar-links{

    padding: 10px 20px;
    background: -moz-linear-gradient(90deg, #58def8 0%, #00ffe5 100%);
    background:  -webkit-linear-gradient(90deg,  #58def8 0%, #00ffd9 100%);
    text-decoration: none;
    font-size: 1rem;
    color: rgb(79, 79, 79);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 5px 3px #98b5b5;
    transition: all 0.3s ease;
}
.navbar-links:hover{
  
  background: -moz-linear-gradient(90deg, #58def8 0%, #00ffe5 100%);
  background:  -webkit-linear-gradient(90deg,  #32c5e2 0%, #18e3c5 100%);
}



.scrollable {
  overflow-y: auto; /* Enable scrolling */
}

/* For Webkit browsers (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* For Firefox */
.scrollable {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color: #888 #f1f1f1; /* Handle and track color */
}
